@model IEnumerable<JobApplications.Models.Candidate>
@{
    ViewBag.Title = "Job Applications";
}

<div class="row">

    <div class="jumbotron">

        <h1>Job Applications</h1>

    </div>

    <h2>Candidates</h2>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum prijave</th>
                <th>Godine iskustva</th>
                <th>Željena plata</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in Model)
            {
                <tr>
                    @*<td>@Html.ActionLink(candidate.Ime, "Index", "Candidate", new { id = candidate.Id }, null)</td>*@
                    <td>@candidate.Ime</td>
                    <td>@candidate.Prezime</td>
                    <td>@candidate.Datum_Prijave</td>
                    <td>@candidate.Godine_Iskustva</td>
                    <td>@candidate.Zeljena_Plata RSD</td>
                    <td>@candidate.IspisPodataka()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
